SomeTestPrgrmFolder/WinSrvWcfSrv/SAMPLE/WinServiceClient/WinServiceClientLib/Connected Services/ServiceReferenceCustomWCFService/MyApp.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://MyApp.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MyApp.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MyApp.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://MyApp.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EchoLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageCollector_Talk_InputMessage">
    <wsdl:part name="parameters" element="tns:Talk" />
  </wsdl:message>
  <wsdl:message name="IMessageCollector_Talk_OutputMessage">
    <wsdl:part name="parameters" element="tns:TalkResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageCollector_SendAnsewer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAnsewer" />
  </wsdl:message>
  <wsdl:message name="IMessageCollector_SendAnsewer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAnsewerResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageCollector_CollectMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CollectMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageCollector_CollectMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollectMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageCollector">
    <wsdl:operation name="Talk">
      <wsdl:input wsaw:Action="http://MyApp.ServiceModel.Samples/IMessageCollector/Talk" message="tns:IMessageCollector_Talk_InputMessage" />
      <wsdl:output wsaw:Action="http://MyApp.ServiceModel.Samples/IMessageCollector/TalkResponse" message="tns:IMessageCollector_Talk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAnsewer">
      <wsdl:input wsaw:Action="http://MyApp.ServiceModel.Samples/IMessageCollector/SendAnsewer" message="tns:IMessageCollector_SendAnsewer_InputMessage" />
      <wsdl:output wsaw:Action="http://MyApp.ServiceModel.Samples/IMessageCollector/SendAnsewerResponse" message="tns:IMessageCollector_SendAnsewer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollectMessage">
      <wsdl:input wsaw:Action="http://MyApp.ServiceModel.Samples/IMessageCollector/CollectMessage" message="tns:IMessageCollector_CollectMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://MyApp.ServiceModel.Samples/IMessageCollector/CollectMessageResponse" message="tns:IMessageCollector_CollectMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>