SomeTestPrgrmFolder/WinSrvWcfSrv/MANZANA/FolderWatcherService/FolderWatcherService/Connected Services/WcfEchoServiceReference/MyWcfSrvs.ServiceModel.Samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyWcfSrvs.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://MyWcfSrvs.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfDbEchoLib" />
  <xs:element name="SaveCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDbEchoLib" minOccurs="0" name="cheque" nillable="true" type="q1:Cheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChequeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCheques">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastChequeCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChequesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDbEchoLib" minOccurs="0" name="GetLastChequesResult" nillable="true" type="q2:ArrayOfCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>