SomeTestPrgrmFolder/WinSrvWcfSrv/MANZANA/FolderWatcherService/ConsoleFolderWatcherTest/Connected Services/WcfEchoServiceReferenceTest/MyWcfSrvs.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://MyWcfSrvs.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MyWcfSrvs.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MyWcfSrvs.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://MyWcfSrvs.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfDbEchoLib" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChequeServiceContract_SaveCheque_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheque" />
  </wsdl:message>
  <wsdl:message name="IChequeServiceContract_SaveCheque_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChequeResponse" />
  </wsdl:message>
  <wsdl:message name="IChequeServiceContract_GetLastCheques_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCheques" />
  </wsdl:message>
  <wsdl:message name="IChequeServiceContract_GetLastCheques_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastChequesResponse" />
  </wsdl:message>
  <wsdl:portType name="IChequeServiceContract">
    <wsdl:operation name="SaveCheque">
      <wsdl:input wsaw:Action="http://MyWcfSrvs.ServiceModel.Samples/IChequeServiceContract/SaveCheque" message="tns:IChequeServiceContract_SaveCheque_InputMessage" />
      <wsdl:output wsaw:Action="http://MyWcfSrvs.ServiceModel.Samples/IChequeServiceContract/SaveChequeResponse" message="tns:IChequeServiceContract_SaveCheque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastCheques">
      <wsdl:input wsaw:Action="http://MyWcfSrvs.ServiceModel.Samples/IChequeServiceContract/GetLastCheques" message="tns:IChequeServiceContract_GetLastCheques_InputMessage" />
      <wsdl:output wsaw:Action="http://MyWcfSrvs.ServiceModel.Samples/IChequeServiceContract/GetLastChequesResponse" message="tns:IChequeServiceContract_GetLastCheques_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>